.back-silver {
    background: #F3F3F3
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.desktop_view{
    display: block !important;
}
.mobile_view{

   
    display: none !important;
}

.back-lightblue {
    background: rgba(116, 180, 224, 0.2);
}

.back-purple {
    background: #EE7AAE;
}

.back-green {
    background: #42D151;
}

.back-blue {
    background: #00ACED;
}
.color-blue{
    color: #00ACED!important;
}
.color-lightSilver{
    color: #ADADAD;
}
.textPlace {
    height: 7.5vh;
}
/* .overflowhide{
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0px;
} */
.profileImg{
    width: 160px;
}
.textDesc{
    color: #B1B1B1;
    font-size: 13px;
}
.color-lightBlack{
    color: #6A6A6A;
}
.text-black {
    color: #000000;
}

.font-12 {
    font-weight: 300;
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}
.font-17 {
    font-size: 18px;
}
.font-20 {
    font-size: 20px;
}

.para-sm {
    color:#8A8A8A
}

.screenHeight {
    height: 93vh;
    margin-top: 54px;
}
::-webkit-scrollbar {
    display: none!important;
  }
.box-shadow{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}  
.iconsSize{
    width: 38px;
}
.profileIcons{
    font-size: 35px!important;
    padding-top: 2px;
}
.searchScroll{
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.searchicon {
    position: absolute;
    top: -31px;
    right: 15px;
}

.search input:focus {
    background: #F3F3F3;
    box-shadow: none !important;
    border: none !important;
}
.imgSize img{
    width: 65px;
}
.logo {
    font-weight: 900;
    color: #0353A4;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer
}
@media (max-width: 767px) and (min-width: 320px){
    .nav-absolute {
        display: none!important;
    }
    .screenHeight{
        margin-top: 0px!important;
    }
    .desktop_view{
        display: none !important;
    }
    .mobile_view{

        display: block !important;
    }
}

