.chattingArea-sm{
    height: 77.1vh;
    overflow-y: auto;
    overflow-x: hidden;
}
@media (max-width: 456px) and (min-width: 320px){
    .chattingArea-sm{
        height: 78.3vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}