.messaging {
    height: 73.5vh;
}

.textareasize {
    max-height: 45px;
    outline: none !important;
    resize: none;
    border: none !important;
}

.textareasize:focus {
    border: none !important;
    outline: none !important;
}
.chattingArea{
    height: 67vh;
    overflow-y: auto;
}